<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django python mappings" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\Python310\python.exe|C:\Users\Administrator\Python310\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="arrivedepartbackend.settings" />
        <add key="PYTHONPATH" value="C:\Projects\arrivedepart\arrivedepartbackend" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
